name: FOSSA Scan

on:
  workflow_dispatch:
  push:
    branches: 
          main
  pull_request:
    branches: 
          main

jobs:
  fossa-scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node 
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm ci

      - name: Install FOSSA CLI
        run: |
          wget https://github.com/fossas/fossa-cli/releases/latest/download/fossa-linux-amd64
          chmod +x fossa-linux-amd64
          sudo mv fossa-linux-amd64 /usr/local/bin/fossa

      - name: Run FOSSA Analysis
        env:
          FOSSA_API_KEY: ${{ secrets.FOSSA_API_KEY }}
        run: |
          fossa analyze
